## TRABALHO DE CONCLUSÃO DE CURSO EM CIÊNCIA DE DADOS - PUC MINAS
## Aluno: Anderson Lhoret
## MODELO PREDITIVO DE DURAÇÃO DE OPERAÇÃO DE TRÂNSITO ADUANEIRO
# Notebook 1.2: Coleta de dados - Google Maps API Elevation

Consulta a 'Elevation API' da plataforma Google Maps em busca da altitude de um local.

In [3]:
import json
import nbconvert
import pandas as pd
import requests

In [4]:
def parse_elevation_api_response(resposta):
    if resposta is None:
        return None
    
    elevacao = None
        
    # The variable data contains the JSON as a Python dictionary
    data = json.loads(resposta)    
    if data['status'] == 'OK':        
        elemento = data['results'][0]
        elevacao = elemento['elevation']
    else:
        print ('Request status code: {}'.format(data['status']))
    return (elevacao)

In [5]:
# Arquivo com as coordenadas (latitude e longitude) de um local
input_file = 'tabela_coordenadas.csv'

# Arquivo com as coordenadas mais coluna de elevação
output_file = 'tabela_coordenadas_elevacao.csv'

# Chave para acessar serviço da plataforma Google Maps
API_KEY = ''

In [6]:
df = pd.read_csv(input_file)
df.head()

    latitude  longitude
0 -29.894283 -51.173923
1 -22.313276 -49.133789
2 -23.008442 -47.144659
3  23.425529  46.487609
4  -1.424906 -48.491270

In [7]:
# Acrescenta uma nova coluna para a variável 'elevacao'
df['elevacao'] = ''

In [ ]:
for i in range(len(df)):
    print ('Loop: {}'.format(i))

    # latitude e longitude da origem
    coordenadas = df.iloc[i,0].astype(str) + '%2C' + df.iloc[i,1].astype(str)
    
    # URL da API DistanceMatrix do Google
    url = 'https://maps.googleapis.com/maps/api/elevation/json?locations='+ coordenadas + '&key=' + API_KEY
    #print(url)
    payload={}
    headers = {}

    response = requests.request("GET", url, headers=headers, data=payload)
    #print(response.text)
    df.iloc[i, 2] = parse_elevation_api_response(response.text)

In [9]:
df.head()

    latitude  longitude     altitude
0 -29.894283 -51.173923    14.400117
1 -22.313276 -49.133789   596.585388
2 -23.008442 -47.144659   656.134888
3  23.425529  46.487609  1103.664673
4  -1.424906 -48.491270     2.675423

In [10]:
# Salva novo arquivo CSV com as informações obtidas da Elevation API do Google
df.to_csv(output_file, index = False)